@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --color-bg-app: #2f313a;
    --color-bg-header: #262831;
    --color-primary: #00f9b6;
}

body {
    font-family: 'roboto', san-serif;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--color-bg-app);
}