@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --color-bg-app: #ffffff;
    --color-bg-header: #262831;
    --color-primary: #00f9b6;
    --color-primary-oscuro: #07bf8b;
    --color-secondary: #7A7979;
    --color-borders: #ccc;
    --color-to-do: red;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6.5rem);

}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'roboto', san-serif;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--color-bg-app);
}